.contact-form {
  border: 1px solid black;
  width: auto;
  height: auto;
  padding: 10px;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
}

.contact-form-input {
  width: 200px;
}

.contact-form-button {
  margin-top: 20px;
}
